@charset "UTF-8";
.title-content {
  margin: 0;
  width: 100%;
  height: 60px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a5a5c;
  text-align: center;
  color: #fff;
}
.title-content .back-button {
  position: absolute;
  background: none;
  border: none;
  left: 20px;
  padding: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  transition: ease-in-out 0.2s;
  border-radius: 15px;
}
.title-content .back-button i {
  margin-right: 5px;
}
.title-content .back-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

body {
  height: 100vh;
}

.content {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  z-index: 30;
  position: relative;
  display: flex;
  justify-content: space-between; /* Équilibrer gauche, centre et droite */
  align-items: center; /* Centrer verticalement les éléments */
  background-color: #ffffff; /* Fond blanc */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre sous la navbar */
  padding: 0 20px; /* Espacement horizontal */
  height: 75px; /* Ajustez cette valeur selon la taille du logo */
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center; /* Centrer les éléments dans leur conteneur */
}

.navbar-logo {
  height: 55px; /* Hauteur fixe pour le logo */
  width: auto; /* Conserver les proportions */
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center; /* Centrer les éléments verticalement */
}

.navbar-center {
  position: absolute; /* Ajouté */
  left: 50%; /* Ajouté */
  transform: translateX(-50%); /* Ajouté pour centrer */
}

.navbar-right {
  gap: 10px; /* Espacement entre les boutons */
}

.navbar-right img {
  margin-right: 10px; /* Espacement entre les drapeaux et les boutons */
}

.nav-button {
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centrer l'image dans le bouton */
  justify-content: center;
}

.nav-button img {
  width: 30px;
  height: 30px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 400px;
  height: 100%;
  background-color: #5a5a5c;
  color: #ffffff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .close-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar .close-button img {
  width: 24px;
  height: 24px;
}
.sidebar .close-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.sidebar ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s, padding-left 0.3s;
  display: flex;
  align-items: center;
}
.sidebar ul li a .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar ul li a .img-container svg {
  width: 20px;
  height: 20px;
}
.sidebar ul li a .text {
  margin-left: 10px;
}
.sidebar ul li a:hover {
  font-weight: bold;
  padding-left: 25px;
  border-left: 5px solid #f05c2b;
}
.sidebar ul li a.active-page {
  color: #fff;
  background-color: #f05c2b;
  padding-left: 25px;
  border-left: 5px solid #f05c2b;
  font-weight: bold;
}

.custom-select {
  position: relative;
}

.options-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-list img {
  width: 32px;
  height: auto;
  cursor: pointer;
}

#language-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Supprime les styles natifs du select */
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 16px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 40px;
  height: 40px;
  cursor: pointer;
}

/* Ajout d'icônes statiques pour les langues */
#language-select option[value=fr] {
  background-image: url("/images/france.png");
}

#language-select option[value=en] {
  background-image: url("/images/etats-unis.png");
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; /* S'assurer qu'il est au-dessus du contenu */
  display: none; /* L'overlay est invisible au départ */
  cursor: pointer;
}
