$orange: #f05c2b;
$gray: #5a5a5c;
$white: #ffffff;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f8f9fa;
}

.card {
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .card-header {
        background-color: $orange;
        color: $white;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding: 15px;
    }

    .card-body {
        padding: 20px;

        h4 {
            color: #6c757d;
            font-size: 1rem;
            font-weight: bold;
        }

        p, ul {
            font-size: 0.9rem;
            color: #495057;
            margin-bottom: 15px;
        }

        img {
            max-width: 100%;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin: 20px auto;
            display: block;
        }
    }

    .card-footer {
        background-color: #f8f9fa;
        text-align: center;
        padding: 15px;
        border-top: 1px solid #ddd;

        .btn {
            font-size: 0.9rem;
            margin: 5px;
            padding: 8px 15px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
            text-decoration: none;

            &.btn-outline-primary {
                background-color: $orange;
                color: white;
                &:hover {
                    background-color: darken($orange, 10%);
                }
            }

            &.btn-outline-success {
                background-color: #28a745;
                color: white;
                &:hover {
                    background-color: darken(#28a745, 10%);
                }
            }

            &.btn-outline-danger {
                background-color: #dc3545;
                color: white;
                &:hover {
                    background-color: darken(#dc3545, 10%);
                }
            }
        }
    }
}
