table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px auto;
  margin-top: 50px;
  background-color: #f8f9fa;
  text-align: center;
}
table thead {
  background-color: #173b75;
  color: white;
}
table thead th {
  padding: 10px;
  border: 1px solid #dee2e6;
  font-size: 16px;
}
table tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}
table tbody tr:hover {
  background-color: white;
}
table tbody tr td {
  padding: 10px;
  border: 1px solid #dee2e6;
  font-size: 15px;
  color: #343a40;
}
