body {
  font-family: Arial, sans-serif;
  color: #343a40;
  background-color: #f8f9fa;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 20px auto;
}
.filter-buttons.search-form {
  background-color: transparent;
  border: none;
}
.filter-buttons .filter-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 20px;
}
.filter-buttons .filter-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.filter-buttons .filter-item label {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #5a5a5c;
  text-align: center;
}
.filter-buttons .filter-item input,
.filter-buttons .filter-item select {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  color: #5a5a5c;
}
.filter-buttons .filter-item input:focus,
.filter-buttons .filter-item select:focus {
  border-color: #f05c2b;
  outline: none;
  box-shadow: 0 0 5px rgba(240, 92, 43, 0.5);
}
.filter-buttons .filter-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.filter-buttons .filter-actions .btn-filter {
  padding: 10px 20px;
  background-color: #f05c2b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.filter-buttons .filter-actions .btn-filter:hover {
  background-color: rgb(216.6696035242, 65.40969163, 15.3303964758);
}
.filter-buttons .filter-actions .btn-reset {
  padding: 10px 20px;
  background-color: #d9534f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}
.filter-buttons .filter-actions .btn-reset:hover {
  background-color: rgb(201.4953271028, 48.0841121495, 43.5046728972);
}

form {
  margin-bottom: 20px;
}
form .search-element {
  margin-bottom: 15px;
}
form .search-element label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
form .search-element input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 14px;
  color: #343a40;
}
form .search-element input[type=text]:focus {
  outline: none;
  border-color: #f05c2b;
}
form .buttons {
  display: flex;
  gap: 10px;
}
form .buttons .btn {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: #f05c2b;
}
form .buttons .btn.red {
  background-color: #5a5a5c;
}
form .buttons .btn:hover {
  background-color: rgb(216.6696035242, 65.40969163, 15.3303964758);
}

.content div {
  margin-bottom: 15px;
}
.content div label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.content div select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  font-size: 14px;
}
.content div select:focus {
  outline: none;
  border-color: #f05c2b;
}

.actions-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
}

.no-product {
  grid-column: 1/-1; /* Prend toutes les colonnes d'une ligne */
  text-align: center;
}

.product-list-wrapper {
  border-radius: 20px;
  padding: 20px;
}
.product-list-wrapper .product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.product-list-wrapper .product-list .product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-list-wrapper .product-list .product-item h3.product_name {
  margin: 0;
  font-size: 1.5rem;
}
.product-list-wrapper .product-list .product-item .product_image {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
.product-list-wrapper .product-list .product-item p {
  margin: 5px 0;
}
.product-list-wrapper .product-list .product-item p .product_category,
.product-list-wrapper .product-list .product-item p .product_supplier {
  color: inherit;
}
.product-list-wrapper .product-list .product-item .btn {
  padding: 8px 15px;
  background-color: #5a5a5c;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: all 0.3s ease;
}
.product-list-wrapper .product-list .product-item .btn:hover {
  background-color: #f05c2b;
}
.product-list-wrapper .product-list .product-item .btn.btn-primary {
  background-color: #f05c2b;
}
.product-list-wrapper .product-list .product-item .btn.btn-primary:hover {
  transform: translateY(-3px);
}
.product-list-wrapper .product-list .product-item:nth-child(odd) {
  background-color: #f05c2b;
  color: #ffffff;
}
.product-list-wrapper .product-list .product-item:nth-child(odd) .btn {
  background-color: #ffffff;
  color: #f05c2b;
}
.product-list-wrapper .product-list .product-item:nth-child(even) {
  background-color: #5a5a5c;
  color: #ffffff;
}
.product-list-wrapper .product-list .product-item:nth-child(even) .btn {
  background-color: #ffffff;
  color: #5a5a5c;
}
