.role-selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 70px;
  margin-bottom: 105px;
  max-width: 70%;
}
.role-selection form {
  display: flex;
}
.role-selection form .role-card {
  border: none;
  position: relative;
  background-color: #5a5a5c;
  color: #ffffff;
  text-align: center;
  padding: 5rem 2.5rem;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.role-selection form .role-card:hover {
  transform: scale(1.05);
}
.role-selection form .role-card::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f05c2b;
  z-index: 0;
  transition: top 0.5s ease;
}
.role-selection form .role-card:hover::before {
  top: 0;
}
.role-selection form .role-card .role-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}
.role-selection form .role-card .role-description {
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

body {
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
