body {
  font-family: "Roboto Thin", sans-serif;
  background-color: #f2f5fc;
  background-image: url("/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #5a5a5c;
  margin: 0;
  padding: 0;
}

.order-container {
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
}

.product-list {
  flex: 0.3;
  display: grid;
  gap: 1.5rem;
}

.product-item {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: -moz-fit-content;
  height: fit-content;
}
.product-item h3 {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 1rem;
}
.product-item img {
  max-width: 15%;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}
.product-item img:hover {
  transform: scale(1.05);
}
.product-item .add-to-supply-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}
.product-item .add-to-supply-form .quantity-picker {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  width: 80%;
}
.product-item .add-to-supply-form .quantity-picker button {
  background-color: #173b75;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-item .add-to-supply-form .quantity-picker button:hover {
  background-color: rgb(14.6214285714, 37.5071428571, 74.3785714286);
}
.product-item .add-to-supply-form .quantity-picker input[type=number] {
  width: 30%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgb(140.7582417582, 140.7582417582, 143.2417582418);
  border-radius: 4px;
  text-align: center;
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.product-item .add-to-supply-form .quantity-picker input[type=number]:focus {
  border-color: #173b75;
  background-color: rgb(116.2714285714, 158.9571428571, 227.7285714286);
  box-shadow: 0 0 5px rgba(23, 59, 117, 0.5);
}
.product-item .add-to-supply-form .submit-btn {
  width: 90%;
  background-color: #173b75;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-item .add-to-supply-form .submit-btn:hover {
  background-color: rgb(14.6214285714, 37.5071428571, 74.3785714286);
}

.order-recap {
  flex: 0.7;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 2rem;
}
.order-recap h3 {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 1.5rem;
}
.order-recap .scrollable {
  max-height: 60vh;
  overflow-y: auto;
  margin-bottom: 1rem;
}
.order-recap .scrollable::-webkit-scrollbar {
  width: 8px;
}
.order-recap .scrollable::-webkit-scrollbar-track {
  background: #f9f9f9;
  border-radius: 4px;
}
.order-recap .scrollable::-webkit-scrollbar-thumb {
  background: #173b75;
  border-radius: 4px;
}
.order-recap .order-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
.order-recap .order-table th {
  background-color: #173b75;
  color: #ffffff;
  padding: 0.8rem;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
}
.order-recap .order-table td {
  padding: 0.8rem;
  border-bottom: 1px solid #f9f9f9;
}
.order-recap .order-table td:last-child {
  width: 200px;
  padding: 0.5rem;
}
.order-recap .order-table td:last-child form {
  margin-bottom: 0.5rem;
  display: flex;
}
.order-recap .order-table td:last-child form .quantity-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.order-recap .order-table td:last-child form .quantity-picker input[type=number] {
  width: 60px;
  padding: 0.3rem;
  text-align: center;
  border: 1px solid rgb(140.7582417582, 140.7582417582, 143.2417582418);
  border-radius: 4px;
}
.order-recap .order-table td:last-child form .btn {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  margin: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ffffff;
  background-color: #173b75;
}
.order-recap .order-table td:last-child form .btn#btn-retirer-quantite {
  margin-left: 0.5rem;
}
.order-recap .order-table td:last-child form .btn#btn-add-quantity {
  margin-left: 0.5rem;
}
.order-recap .order-table td:last-child form .btn#btn-retirer {
  background-color: #dc3545;
}
.order-recap .order-table td:last-child form .btn#btn-retirer:hover {
  background-color: rgb(189.2151898734, 32.7848101266, 47.7721518987);
}
.order-recap .order-table td:last-child form .btn:hover {
  background-color: rgb(14.6214285714, 37.5071428571, 74.3785714286);
}
.order-recap .order-table .product-thumbnail {
  max-width: 60px;
  border-radius: 4px;
}
.order-recap .order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: 1rem;
}
.order-recap .order-total .total-value {
  font-size: 1.6rem;
  color: #173b75;
  font-weight: bold;
}
.order-recap .confirm {
  margin-top: 1rem;
  text-align: center;
}
.order-recap .confirm .btn {
  background-color: #173b75;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.order-recap .confirm .btn:hover {
  background-color: rgb(14.6214285714, 37.5071428571, 74.3785714286);
}
