@charset "UTF-8";
.order-list {
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  background-color: #ffffff;
  color: #5a5a5c;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-list h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #5a5a5c;
  margin-bottom: 20px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  margin-top: 20px;
}

.order-table th, .order-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.order-table th {
  background-color: #f05c2b;
  color: #fff;
  text-transform: uppercase;
}

.badge {
  padding: 5px 10px;
  border-radius: 12px;
  color: #fff;
  font-size: 0.9rem;
}

.badge-red {
  background-color: #f44336;
  color: #ffffff;
}

.badge-warning {
  background-color: #ff9800;
  color: #ffffff;
}

.badge-success {
  background-color: #4caf50;
  color: #ffffff;
}

.badge-info {
  background-color: #ffc400;
  color: #ffffff;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #4eb5ff;
  color: white;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.empty-order {
  text-align: center;
  font-size: 1.2rem;
  color: #999;
  margin-top: 20px;
}

.order-table img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover; /* Pour s'assurer que l'image garde de bonnes proportions */
}

.btn {
  display: inline-flex; /* Utilisation de flexbox pour aligner les éléments à l'intérieur */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  align-content: space-between;
  display: flex;
  align-items: center; /* Aligne le texte et l'image verticalement */
  justify-content: center; /* Centre horizontalement */
  gap: 10px;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

.supprimer-bouton {
  width: calc(100% - 10px);
}
